.card{
    
    box-shadow: 5px 10px 30px rgba(230, 225, 225, 0.12),0 1px 2px rgba(0, 0, 0, 0,24);
    box-sizing: border-box;
    border-radius: 8%;
    margin: 10px;
    background-color: #0a0a0e;
    transition: all 0.5 ease-in-out;
    align-items: center;
   
    .img{
        opacity: 1;
        width: 90%;
        border-radius: 8%;
        margin-top: 5%;
        transition: opacity 0.8;
        &:hover{
            opacity: 0.8;
            zoom: 0.5;
            }
    }
    &:hover{
        border-color: rgb(31, 7, 245);
        

    }
    .card-inner{
        padding: 10px;
        
    }
}
.container{
    margin-top: 60px;
}
span{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

html{
    background-color: #00020a;
}